[package]
name = "dovi_tool"
version = "2.0.3"
authors = ["quietvoid"]
edition = "2021"
rust-version = "1.65.0"
license = "MIT"
build = "build.rs"

[[bin]]
name = "dovi_tool"
path = "src/main.rs"

[dependencies]
dolby_vision = { path = "dolby_vision", "features" = ["xml", "serde"] }
bitvec_helpers = { version = "3.1.2", default-features = false, features = ["bitstream-io"] }
hevc_parser = { version = "0.6.1", features = ["hevc_io"] }
madvr_parse = "1.0.1"
hdr10plus = { version = "2.1.0", features = ["json"] }

anyhow = "1.0.71"
clap = { version = "4.3.4", features = ["derive", "wrap_help", "deprecated"] }
indicatif = "0.17.5"
regex = "1.8.4"
bitvec = "1.0.1"
serde = { version = "1.0.164", features = ["derive"] }
serde_json = { version = "1.0.97", features = ["preserve_order"] }
itertools = "0.10.5"
plotters = { version = "0.3.5", default-features = false, features = ["bitmap_backend", "bitmap_encoder", "all_series"] }

[dev-dependencies]
assert_cmd = "2.0.11"
assert_fs = "1.0.13"
predicates = "3.0.3"

[build-dependencies]
vergen = { version = "8.2.1", default-features = false, features = ["build", "git", "gitcl"] }

[features]
default = ["system-font"]
system-font = ["plotters/ttf"]
internal-font = ["plotters/ab_glyph"]
